:host {
  div {
    width: 100%;
    height: 300px;
  }
  section {
    overflow: hidden;
    animation: visible 1s normal;
  }
  margin-bottom: 1rem;
}

@keyframes visible {
  0% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}
