hr{
    padding: 0!important;
    width: 100vw;
    margin: 2rem 0 2rem 0;
    border-color: blue;
}
div {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  h1 {
    color: blue;
    text-decoration: underline;
  }
}
.select-container {
  select {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    border-color: blue;
    border-width: 0.3rem;
    border-radius: 0.2rem;
    appearance: none;
    cursor: pointer;
    outline: none;
    &:hover {
      border-color: rgba(0, 0, 255, 0.384);
    }
  }
}
.table-container {
  max-height: 500px;
  overflow-y: auto;
}
