.select-container {
  width: 100%;
  display: flex;
  justify-content: center;
  select {
    width: 100%;
    height: 3rem;
    text-align: center;
    appearance: none;
    cursor: pointer;
    outline: none;
    border: .4em solid blue;
    margin: 1rem;
    border-radius: .5rem;
  }
}
.containerCities {
  margin-top: 1rem;
  border-top: 1rem solid blue;
  padding-top: 1rem;
}
h2 {
  text-align: center;
  font-weight: bold;
  color: blue;
}
