* {
  cursor: default;
  select,
  input {
    cursor: pointer;
  }
}

app-header {
  section {
    width: 35%;
  }
  select {
    width: 100%;
    padding: 0.3rem;
    border-radius: 1rem;
    border: 0.1rem solid blue;
    outline: none;
    text-align: center;
    font-size: 1rem;
  }
}

.flex-row-chart {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  img {
    width: 10%;
    height: auto;
    animation: loading 2s infinite;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 670px) {
  app-map,
  app-pie-chart-obito-recuperados {
    width: 100%;
  }
  app-header {
    section {
      margin-top: 0.25rem;
      width: 100%;
    }
  }
}
@media screen and (min-width: 670px) {
  app-map,
  app-pie-chart-obito-recuperados {
    width: 50%;
  }
}
