<footer class="footer-bar">
    <img
      src="https://www.pitang.com/image/layout_set_logo?img_id=64051&t=1648734708816"
      alt=""
    />
    <img
      src="https://raw.githubusercontent.com/ViniciusSoares-Developer/product-buy-angular/main/src/assets/logoETE.png"
      alt=""
    />
    <img src="https://agil.facepe.br/imagens/logo_facepe.png" alt="" />
    <section class="w-100 m-3">
      Desenvolvedores:
      <a href="https://github.com/anneestherlf" target="_blank">Anne Esther</a>
      , <a href="https://github.com/guihenry02" target="_blank">Guilherme henrique</a>
      , <a href="https://github.com/matheusenricocsb" target="_blank">Matheus Enrico</a>
      , <a href="https://github.com/ViniciusSoares-Developer" target="_blank">Vinícius Soares</a>
    </section>
</footer>
