<!-- header -->
<div class="header-bar">
  <section>
    <h4>Sars-Cov-2 <i class='fas fa-virus'></i></h4>
  </section>
  <section>
    <select [(ngModel)]="selectDate" (change)="filterDateCovid(selectDate)">
      <option *ngFor="let data of datas" [value]="data">{{ data }}</option>
    </select>
  </section>
</div>

<!-- Load screen -->
<ng-template [ngIf]="!ChargeMap">
  <div class="loading">
    <img
      src="../../../assets/imgs/loading.png"
      alt="Carregando data..."
    />
    <br />
    <p>Carregando dados...</p>
  </div>
</ng-template>

<!-- Content Screen -->
<ng-template [ngIf]="ChargeMap">
  <div class="flex-row-chart">
    <app-cards [data]="dataCovidStatesPerDate"></app-cards>
    <app-map [dataCovid]="dataCovidStatesPerDate"></app-map>
    <app-pie-chart-obito-recuperados
      [dataCovid]="dataCovidStatesPerDate"
    ></app-pie-chart-obito-recuperados>
  </div>
  <app-list-states [dataCovid]="dataCovidStatesPerDate"></app-list-states>
  <app-list-cities [dataCovid]="dataCovidCities"></app-list-cities>
</ng-template>

<!-- footer -->
<div class="footer-bar">
  <img
    src="https://www.pitang.com/image/layout_set_logo?img_id=64051&t=1648734708816"
    alt=""
  />
  <img
    src="https://raw.githubusercontent.com/ViniciusSoares-Developer/product-buy-angular/main/src/assets/logoETE.png"
    alt=""
  />
  <img src="https://agil.facepe.br/imagens/logo_facepe.png" alt="" />
</div>
